<footer>
    <div class="container">
        <div>
            <span>EncarNN</span>
            <span>Работаем с 2008 года</span>
        </div>
        <div>
            <h1>Каталог авто из Кореи</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'cars-korea' %}?brand=Hyundai">Hyundai</a></li>
                    <li><a href="{% url 'cars-korea' %}?brand=Genesis">Genesis</a></li>
                    <li><a href="{% url 'cars-korea' %}?brand=Kia">Kia</a></li>
                    <li><a href="{% url 'cars-korea' %}?brand=Renault">Renault</a></li>
                    <li><a href="{% url 'cars-korea' %}?brand=SsangYoung">Ssang Young</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h1>Новые авто</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'new-cars' %}?brand=Hyundai&">Hyundai</a></li>
                    <li><a href="{% url 'new-cars' %}?brand=Genesis">Genesis</a></li>
                    <li><a href="{% url 'new-cars' %}?brand=Kia">Kia</a></li>
                    <li><a href="{% url 'new-cars' %}?brand=Renault">Renault</a></li>
                    <li><a href="{% url 'new-cars' %}?brand=SsangYoung">Ssang Young</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="{{ settings.instagram_url }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="{{ settings.whatsapp_url }}" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="{{ settings.telegram_url }}" target="_blank"><i class="fab fa-telegram"></i></a></li>
                </ul>
            </nav>
            <p>{{ settings.phone_number }}</p>
            <p>{{ settings.email }}</p>
        </div>
    </div>
</footer>